---
import BaseLayout from '../../layouts/BaseLayout.astro';
import '../../styles/blogposts.css'

export async function getStaticPaths() {
  const allPosts = await Astro.glob('../blogposts/*.md');

  const uniqueTags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) => post.frontmatter.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---
<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {posts.map((post) => <div class="blogpost-box"><a class="blogpost-link" href={post.url}>
			
      <div class="blogpost-title">{post.frontmatter.title}</div>

      <div class="blogpost-description">{post.frontmatter.description} Published {post.frontmatter.pubDate}.</div>
  
  </a></div> )}

  </ul>
</BaseLayout>