---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/blogposts.css'

const allPosts = await Astro.glob('./blogposts/*.md');
const pageTitle = "blogposts";
const pageDescription = "my collection of blogposts.";
---
<BaseLayout pageTitle = {pageTitle} pageDescription = {pageDescription}>
	<div>
		<p class="tagslink">
			<a href="/tags/">search for blogposts by tag.</a>
		</p>
	</div>
	
	<div class="blogposts">
		{allPosts.map((post) => <div class="blogpost-box"><a class="blogpost-link" href={post.url}>
			
				<div class="blogpost-title">{post.frontmatter.title}</div>

				<div class="blogpost-description">{post.frontmatter.description} Published {post.frontmatter.pubDate}.</div>
		
		</a></div> )}
	</div>
</BaseLayout>