---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/blogposts.css'

const allPosts = await Astro.glob('./blogposts/*.md');
const pageTitle = "Blogposts";
const pageDescription = "My collection of blogposts.";
---
<BaseLayout pageTitle = {pageTitle} pageDescription = {pageDescription}>
	<div>
		<p class="tagslink">
			<a href="/tags/">Search for blogposts by tag.</a>
		</p>
	</div>
	
	<div class="blogposts">
		{allPosts.map((post) => <p class="blogpost">
			<a id="bloglink"href={post.url}>{post.frontmatter.title}</a>: {post.frontmatter.description}
		</p> )}
	</div>
</BaseLayout>