---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle = {frontmatter.title} pageDescription = {frontmatter.description}>
    <p class="subtitle">published {frontmatter.pubDate}</p>
    <slot />

    <div class="tags"> Tags:
        {frontmatter.tags.map((tag) => (
            <a href={`/tags/${tag}`}> {tag},</a>
        ))}
    </div>
</BaseLayout>